<div class="text-center">
  <%= link_to root_path, remote: true do %>
    <div id="pomodoro"></div>
  <% end %>

  <%= simple_form_for pomodoro do |f| %>
    <%= f.hidden_field :count %>
    <%= f.submit 'Touch the pomodoro' %>
  <% end %>
</div>

<!-- document.getElementById('pomodoro_count').value = 4 -->
